.main-header>div {
  margin-top: 30px;
  margin-left: 10px;
  width: 15%;
  text-align: center;
  font-weight: 700;
}

.main-header-history>div {
  margin-top: 30px;
  margin-left: 10px;
  width: 13%;
  text-align: center;
  font-weight: 700;
}

.main-header-boxing {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 5px;
  background-color: rgb(245, 243, 243);
  padding-bottom: 15px;
}

#saved0-expense-display {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#history-expense-display {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.flex-class {
  display: flex;
  flex-wrap: wrap;
}

button {
  margin-left: 75%;
  background-color: green;
  border: 2px solid green;
  cursor: pointer;
  border: 2px solid green;
  border-radius: 5px;
  height: 30px;
  color: white;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}

.space-head>:nth-child(1) {
  margin-top: 10px;
}

.saved-expense {
  margin-top: 40px;
  font-size: 18px;
  margin-bottom: 10px;
}

.shift-right {
  margin-left: 70%;
  color: green;
  text-decoration: underline;
  cursor: not-allowed;
}

.space-head>:nth-child(2)>:nth-child(1) {
  margin-top: 15px;
  margin-left: 20px;
  border-radius: 2px;
  background-color: black;
  width: 4px;
  height: 4px;
  text-align: right;

}

.space-head>:nth-child(2)>:nth-child(2) {
  margin-top: -10px;
  margin-left: 40px;
  color: rgb(122, 121, 121);
}

.left-menu-name-div {
  background-color: lightgray;
  margin-top: 20px;
  height: 45px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  display: flex;
  width: 75%;
  flex-wrap: wrap
}

.left-menu {
  width: 25%;
  margin-left: 2%;
  border-right: 1px dashed black
}

.left-menu-circle1 {
  text-align: center;
  align-items: center;
  padding-top: 8px;
  font-size: 24px;
  padding-bottom: 12px;
  border-radius: 20px;
  background-color: rgb(120, 119, 119);
  width: 40px;
  height: 20px;
}

.right-side-circle {
  margin-top: 15px;
  margin-left: 85%;
  margin-bottom: 20px;
  align-items: flex-end;
  background-color: green;
  color: white;
}

.blockDiv {
  display: flex;
  flex-wrap: wrap;

}

.blockDiv>div {
  margin-left: 10px;
  width: 15%;
  text-align: center;
  font-weight: 700;
}

.blockDiv>:first-child {
  margin-left: 15%;
}

.blockDiv>:nth-child(6) {
  text-decoration: underline;
  color: green;
}

.divmesument {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.view-div-0 {
  width: 50%;
  height: 200px;
  background: rgb(0, 0, 0);
  color: white;
  display: block;
  opacity: 100%;
  position: absolute;
  z-index: 10;
  margin-left: 10%;
  font-size: larger;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.view-div-1 {
  width: 45%;
  padding-left: 5%;
  text-align: center;
}

.view-div-2 {
  padding-left: 5%;
  width: 45%;
  text-align: center;
}

.view-div-3 {
  width: 45%;
  margin-left: 25%;
  text-align: center;
  margin-top: 15px;
}

.view-div-4 {
  width: 45%;
  margin-left: 25%;
  text-align: center;
  font-size: large;
  border-radius: 2px;
  background-color: red;
  border: 2px solid red;
  margin-top: 15px;
  padding-bottom: 10px;
}

img {
  width: 30px;
  height: 30px;
  background-color: white;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}

#user-login-name {
  margin-top: 5px;
  margin-left: 10px;
  font-size: 24px;
  font-family: sans-serif;
}

.blockDiv-history {
  display: flex;
  flex-wrap: wrap;
}

.blockDiv-history>div {
  margin-left: 10px;
  width: 13%;
}

.blockDiv-history>:first-child {
  margin-left: 2%;
}

.blockDiv-history>:nth-child(7) {
  text-decoration: underline;
  color: green;
  cursor: no-drop;
}

.home-page {
  background-color: rgb(195, 232, 195);
  width: 45%;
  padding-left: 40px;
  height: 20px;
  padding-top: 15px;
  padding-bottom: 5px;
  color: green;
  border-radius: 4px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 10px;
}

h2 {
  margin-top: 40px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.having-opt {
  margin-left: 40px;
  width: 35%;
}

.h3 {
  align-items: flex-end;
  margin-left: 40px;
  font-size: 16px;
  font-weight: 800;
}

.margin-top-side {
  margin-top: 20px;
}